# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
.env
.venv
env/
venv/

# IDE configs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data
*.csv
*.xlsx
*.h5
*.pkl
*.npz

# Model files
*.pt
*.pth
*.onnx
*.joblib
*.sav

# Hugging Face cache
huggingface/
